<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>Ajax Post 上传</title>
    <style>
        h1, h2 {
            font-weight: normal;
        }

        #msg {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<h1>Ajax Post 上传</h1>

<input id="fileSelector" type="file"/>
<input id="submitBtn" type="submit"/>

<div id="msg"></div>
<img src="https://idopy-1253901570.cos.ap-beijing.myqcloud.com/upload/b9b242fc1306e2760fcb61612a745184.jpg"/>
<script src="/cos-js-sdk-v5.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
    (function () {
        // 请求用到的参数
        var prefix;
        var token;
        var dir;
        // 计算签名
        var getAuthorization = function (options, callback) {
            if (!token || !prefix) {
                var url = '/qcloud/auth/token?method=post';
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.onload = function (e) {
                    var AuthData;
                    try {
                        AuthData = JSON.parse(xhr.responseText)
                    } catch (e) {}
                    if (AuthData && AuthData.token) {
                        token = AuthData.token;
                        prefix = AuthData.postUrl;
                        dir = AuthData.dir
                        callback(null, {});
                    } else {
                        console.error(AuthData);
                        callback('获取签名出错');
                    }
                };
                xhr.onerror = function (e) {
                    callback('获取签名出错');
                };
                xhr.send();
            } else {
                callback(null, {});
            }
        };

        // 上传文件
        var uploadFile = function (file, callback) {

            getAuthorization({}, function (err, info) {
                 if (err) {
                    alert(err);
                    return;
                }
                var fd = new FormData();
                // *** 开头不能存在"/"
                var key = 'upload/' + file.name;// dir;// dir + file.name;// 用于下载文件
                fd.append('key', key);
                fd.append('Signature', token);
                fd.append('Content-Type', '');
                info.XCosSecurityToken && fd.append('x-cos-security-token', info.XCosSecurityToken);
                fd.append('file', file);
                var url = prefix;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                xhr.onload = function () {
                    if (Math.floor(xhr.status / 100) === 2) {
                        // var ETag = xhr.getResponseHeader('etag');
                        callback(null, {url: prefix + encodeURIComponent(key).replace(/%2F/g, '/'), ETag: ""});
                    } else {
                        callback('文件 ' + key + ' 上传失败，状态码：' + xhr.status);
                    }
                };
                xhr.onerror = function () {
                    callback('文件 ' + key + ' 上传失败，请检查是否没配置 CORS 跨域规则');
                };
                xhr.send(fd);
            });
        };

        // 监听表单提交
        document.getElementById('submitBtn').onclick = function (e) {
            var file = document.getElementById('fileSelector').files[0];
            if (!file) {
                document.getElementById('msg').innerText = '未选择上传文件';
                return;
            }
            file && uploadFile(file, function (err, data) {
                console.log(err || data);
                document.getElementById('msg').innerText = err ? err : ('上传成功，ETag=' + data.ETag);
            });
        };
    })();
/*]]>*/
</script>

</body>
</html>